<!doctype html>

<html>
<head>
    <title>MoveSafe - Safe Path</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/MoveSafe.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="/js/API_Directions-complex.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS6-vX7RQf9E6NV3F5rytl_Eh_ALQNIlE&callback=initMap">
    </script>
    <link href="/css/Directions-complex.css">
</head>

<body>


  <div class="topnav card-block">
      <div>
          <a id="navigationBarTitle" >Find a Safe Path</a>
      </div>
  </div>


  <div class="navBar card-block">
      <a href="/index" id="navigationBar hover">Home</a>
      <a href="javascript:history.back()" style="float: left; padding-left: 10%">Back</a>
      <a href="/" style="float: right; padding-right: 10%">Logout</a>
  </div>




<!--place holder--> 
<div class="dropdown" style="background-color:#ebf0fa; position:absolute; left:5vw; font-family:Century Gothic;font-size:15px">
    <p display="inline;" style="position:relative;left:15vw;top:6px" width="90vw" ><img src="images/search-black.png" height="15" width="15" style="position:relative;left:-10vw;top:-1px" >
        Search for a new place
    </p>
    <div class="dropdown-content" style="position:absolute;left:-12vw">
    <br>
    <form action="/safePath" method = "post">
        <div class="form-group centered" style="position:absolute; top:2vh; left:13vw;">
            <img src="images/A_Point.png" height="18" width="15">
            <input required id="origin-input" class="controls"  type="text" value= "{{start}}" name="start" placeholder="enter an origin location" style="font-size:12px;width:69vw">
      <button  id="reset-button-start" onclick="clearTextStart()">x</button>
        </div>
        <div class="form-group centered" style="position:absolute; top:10vh; left:12vw;">
            <img src="images/B_Point.png" height="18" width="20">
            <input required id="destination-input" class="controls"  type="text" value="{{destination}}" name="destination" placeholder="enter a destination location" style="font-size:12px;width:69vw">
      <button  id="reset-button-dest" onclick="clearTextDest()">x</button>
        </div>

        <div class="form-group centered" style="position:absolute; top:17vh;">
                <button class="btn btn-primary" style="margin:20px 0 0 241px; height:25px; line-height:10px;font-size:12px; font-family:Century Gothic;" type="submit">Search</button>
        </div>
  </form>
  </div>
</div>
<div align="center" >
    <table border="solid" style="font-size: 12px; position: relative; top:10vh">
        <tr>
            <td><h6>Safe</h6></td>
            <td width="12%" style="background-color: rgba(0,153,51,0.4)"></td>
            <td width="12%" style="background-color: rgba(153,255,51, 0.4)"></td>
            <td width="12%" style="background-color: rgba(255,255,0, 0.4)"></td>
            <td width="12%" style="background-color: rgba(255,153,0, 0.4)"></td>
            <td width="12%" style="background-color: rgba(255,0,0, 0.4)"></td>
            <td><h6>Unsafe</h6></td>
        </tr>
    </table>
</div>
<div class="card-board centered" id="infoBar" class="pathInfo" style="position:relative; left:5vw; top:13vh;">
    <div class="row" style="position:relative;top:2vh;font-weight: bold;font-size:14px">
        <p id="safetyLevel" class="col-6 col-md-4" style="position:relative;left:12px;">Safety Level: 1</p>
        <p id="ETA" class="col-6 col-md-4" style="position:relative;right:12px">ETA: 2 min</p>
    </div>
</div>
<!--map-->
    <div style="position:relative; top:13vh;" width="80vw" id="map"></div>
    <div id="panel"></div>

<!--information of path-->
    <a href="/routing/{{start}}/{{destination}}">
        <button class="pathInfo" style="position:relative; background-color:#0099ff; top:8vh; left:5vw; width:90vw;height:6vh;font-size:14px">Start</button></a>
</div>

<br><br><br>
<div style="position:relative;bottom:-1vh">
<p style="font-size: 8px; position:relative;right:-47vw"><img style="height:15px"src="http://www.pvhc.net/img8/lazfyirwsgqitzoqosou.jpg">neighborhood data was provided by Zillow</p>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(event) { 
        document.getElementById("origin-input").value = "{{start}}";
        document.getElementById("destination-input").value = "{{destination}}";
    });
</script>
<script>
function clearTextStart(){document.getElementById("origin-input").value='';};
function clearTextDest(){document.getElementById("destination-input").value='';}
</script>
</body>
</html>