<!doctype html>

<html>
<head>
    <title>MoveSafe - Safe Path</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/MoveSafe.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="/js/API_Directions-complex.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS6-vX7RQf9E6NV3F5rytl_Eh_ALQNIlE&callback=initMap">
    </script>
    <link href="/css/Directions-complex.css">

</head>

<body>


<!--<div class="topnav">-->
    <!--<a href="javascript:history.back()" id="navigationBar">Back</a>-->
    <!--<a href="/" id="navigationBar">Home</a>-->
    <!--<a padding="100px" id="navigationBarTitle" style="position:absolute;right:0;font-weight:bold; font-family:Century Gothic" >Find a safe path</a>-->
<!--</div>-->
<div>
    <a style="color: black;" href="javascript:history.back()"><i style="font-size: 20px; position:absolute; left:10px" class="fas fa-angle-left"></i></a>
    <a href="/" style="color: black"><i class="fas fa-home" style="font-size: 20px; position:absolute; right:10px"></i></a>
    <h3 align="center">Find A Safe Path</h3>
</div>


<!--<div class="card text-center ml-5 form-group centered" style="float: left; display: inline-block; width: 75vw; height: 10vh;">-->
    <!--<form action="/safePath" method="post">-->
        <!--<div class="form-group centered">-->
            <!--<input required id="origin-input" class="controls"  type="text" value= "{{start}}" name="start" placeholder="enter an origin location">-->
            <!--<button  id="reset-button-start" onclick="clearTextStart()">x</button>-->
            <!--<input required id="destination-input" class="controls"  type="text" value="{{destination}}" name="destination" placeholder="enter a destination location">-->
            <!--<button  id="reset-button-dest" onclick="clearTextDest()">x</button>-->
            <!--<button id="reset-button-dest"  type="submit">new search</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--place holder--> 
  <form action="/safePath" method = "post">
    <div class="form-group centered">
      <img src="images/A_Point.png" height="18" width="15">
      <input required id="origin-input" class="controls"  type="text" value= "{{start}}" name="start" placeholder="enter an origin location">
      <!--<button  id="reset-button-start" onclick="clearTextStart()">x</button>-->
    </div>
    <div class="form-group centered">
      <img src="images/B_Point.png" height="18" width="20">
      <input required id="destination-input" class="controls"  type="text" value="{{destination}}" name="destination" placeholder="enter a destination location">
      <!--<button  id="reset-button-dest" onclick="clearTextDest()">x</button>-->
    </div>
    <br>
    <div class="form-group centered">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit">new search</button>
      </div>
    </div>
  </form>

<!--map-->
    <div id="map"></div>
    <div id="panel"></div>

<!--information of path-->
    <div style="margin-top: 5px" class="footer">
        <table style="margin-top: 10px" align="center">
            <tr>
                <td style="border: solid"><div>
                    <ul text-align="center">
                        <ol text-align="center" style="padding-left: 0">Safety Level: 1</ol>
                        <ol id="ETA" style="padding-left: 0">ETA: 2 min</ol>
                        <div id="warnings-panel"></div>
                    </ul>
                </div></td>
                <td style="border: solid"><div>
                    <a href="/routing/{{start}}/{{destination}}"><button class="places-button">Start</button></a>
                </div></td>
            </tr>
        </table>
        <img style="height:15px"src="http://www.pvhc.net/img8/lazfyirwsgqitzoqosou.jpg">
        <p style="font-size: 8px">neighborhood data was provided by Zillow</p>
    </div>



<script src="https://code.jquery.com/jquery.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(event) { 
        document.getElementById("origin-input").value = "{{start}}";
        document.getElementById("destination-input").value = "{{destination}}";
    });
</script>

</body>
</html>